@media only screen and (min-width: 576px) {
    .jumbotron {
        padding: 1rem 2rem !important;
    }
}

.avatar {
    width: 32px;
    height: auto;
    cursor: pointer;    
}

.sombreado {
    background-color: rgba(0, 0, 0, 0.4);
}

.contenedor-negro {
    background-color: rgb(14,17,31);
    min-height: 400px;
}

.e-mouse {
    cursor: pointer;
}

.color-turq:hover {
    background-color: #23a2b8;
}

.color-rojo:hover {
    background-color: #dc3545;
}

.over-grande:hover {
    transform: scale(1.5,1.5);
}

.img-previa {
    width: 25%;
    height: auto;
}